.contacts {
    text-align: center;
  }
  .inf, .skills, .certificates, .character, .education {
      
      display: flex;
      justify-content: center;
      align-items: center;
  }
  img {
      margin-top: 0;
      float: left;
      width: 15%;
  }
  h1 {
      color: rgb(27, 58, 117);
  }
  h2 {
      font-weight: normal;
      font-size: 22px;
  }

 h3 {
     font-size: 20px;
     text-align: center;
     color: rgb(40, 40, 134);
 }
 hr {
     background-color: rgb(103, 94, 223);
     height: 1px;
     width: 60%;
 }